$primary-font-color: #101828;
$secondary-font-color: #6a7282;

$primary-bg: #fbf9fa;
$secondary-bg: #717182;

$primary-white: #ffffff;
$primary-blue: #155dfc;


$alert-green-text: #00a63e;
$alert-green-bg: #f0fdf4;

$alert-blue-text: #155dfc;
$alert-blue-bg: #eff6ff;

$alert-red-text: #e7000b;
$alert-red-bg: #fef2f2;

$alert-gray-text: #4a5565;
$alert-gray-bg: #fbf9fa;
